<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nombre: {{usuario.nombreUsuario}} {{usuario.apellidoUsuario}}</mat-card-title>
        <mat-card-subtitle>Id: {{usuario.idUsuario}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="max-height: 400px; max-width: 200px;" src="https://picsum.photos/200/300/?random" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <ul style="text-align: left">Correo: {{usuario.correoUsuario}}</ul>
        <ul style="text-align: left">Celular: {{usuario.celularUsuario}}</ul>
    </mat-card-content>
    <mat-card-actions>
        <button [routerLink]="['/home']" mat-button>Regresar</button>
    </mat-card-actions>
</mat-card>