<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title style="text-align: center">Registro</mat-card-title>
    </mat-card-header>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" [(ngModel)]="nombreUsuario">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Apellido" [(ngModel)]="apellidoUsuario">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="email" matInput placeholder="Correo" [(ngModel)]="correoUsuario">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Contraseña" [(ngModel)]="claveUsuario">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Celular" [(ngModel)]="celularUsuario">
    </mat-form-field>
    <button (click)="addUsuario()" mat-button color="primary">Registrarse</button>
    <button [routerLink]="['home']" routerLinkActive="router-link-active" mat-button color="primary">Cancelar</button>
</mat-card>
