<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title style="text-align: center">Logueo</mat-card-title>
  </mat-card-header>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre de usuario" [(ngModel)]="user_name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Contraseña" type="password" [(ngModel)]="pass">
  </mat-form-field>

  <button (click)="logIn()" mat-button color="primary">Logueate :v</button>
</mat-card>
