.menu-icon { 
    padding: 0 14px; 
} 
.menu-spacer { 
    flex: 1 1 auto;
}
.side-container { 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20%;
    height: 100%;
}