<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ 'TITLE_APP' | translate }}</span>
    <span class="menu-spacer"></span>
    <button mat-button (click)="menu.toggle()">
      <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #menu mode="side" closed class="side-container">
    <img width="100%" height="100" alt="Twitter Logo" src="../assets/img/twitter.png.png">
    <button mat-button [routerLink]="['/home']">
      <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">visibility</mat-icon>
      <span>{{ 'LOOK_TWEET' | translate }}</span>
    </button>
    <button mat-button [routerLink]="['insertar']">
      <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">create</mat-icon>
      <span>{{ 'CREATE_TWEET' | translate }}</span>
    </button>
    <button mat-button [routerLink]="['registro']">
      <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu Icon">list_alt</mat-icon>
      <span>{{ 'REG_USER' | translate }}</span>
    </button>

    <div>
      <mat-form-field>
        <mat-label>{{ 'LANGS' | translate}}</mat-label>
        <mat-select (selectionChange)="changeLang()" [(ngModel)]="currentLang">
          <mat-option value="en">English</mat-option>
          <mat-option value="es">Español</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<div class="example-button-row">
  <router-outlet></router-outlet>
</div>
